<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="aboutMe.css">
</head>

<body>
    <nav id="nav">
        <h2>Bubliks</h2>
        <ul>
            <li><a href="index.html">Back to home</a></li>
    </nav>
    <main>

        <h1 class="animated-title">
            <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span>
            <span>m</span><span>e</span>
        </h1>

        <h2>Hello, my name is <span>Jakub</span>, I am a beginner programmer.</h2>
        <p> I only know the most popular languages ​​for creating websites and <br>
            and several backend languages
            such as: <br>
            <span>- HTML</span> <br>
            <span>- CSS</span> <br>
            <span>- JavaScript</span> <br>
            <span>- mySQL (in progress...)</span> <br>
            <span>- PHP (a little)</span> <br>
            <span>- Python (basics)</span> <br>
            <span>- C# (basics)</span> <br>
            I mainly programing websites. I'm trying to create my first game in Unity, but I don't know much C# to do
            it.
        </p>
        <p>
            I have recently started riding a motorcycle, am very excited about it and am currently in the process of
            purchasing a second one. <br>
            I ride motocross bikes with my friends and we have a lot of fun doing it <br>
            I started learning MySQL and PHP very intensively, because next year I will take a professional exam in <br>
            these languages, so they will be very useful to me.
        </p>
    </main>
</body>

</html>